section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.chest { 
    width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {
    font-size: 100pt;
}